.nav-color{
  background-color: #00192D;
}
.white{
  color: white;
  font-size: 15px;
  letter-spacing: 2px;
}
#profile-img{
  padding-top: 92px;
  background-image: url(./images/background.jpg);
  height: 148px;
  
}
#contact-btn{
  border-radius: 12px;
  font-size: 10px;
}
#l-spaceing{
  letter-spacing: 2px;
  font-size: 20px;
  padding-left: 5px;
}
.card-design{
  width: 100px;
  height: 100px;
  border-radius: 15px;
  margin-left: 8px;
}
.card-a{
  text-decoration: none;
  color: inherit;
  outline: 0px;
  cursor: auto;
}