.nav-color{
  background-color: #00192D;
}
.white{
  color: white;
  font-size: 15px;
  letter-spacing: 2px;
}
#profile-img{
  padding-top: 92px;
  background-image: url(./images/background.jpg);
}
#contact-btn{
  border-radius: 12px;
  font-size: 10px;
}
#l-spaceing{
  letter-spacing: 2px;
  font-size: 20px;
}